In [5]:
import pandas as pd

df=pd.read_csv(r'C:\Users\Usuario\OneDrive\Documentos\police_deaths_USA_v6.csv')

In [6]:
df.describe()

                Age
count  22946.000000
mean      40.289419
std       15.799729
min       17.000000
25%       31.000000
50%       39.000000
75%       48.000000
max     1661.000000